body {
  margin: 0;
  box-sizing: border-box;
  height: 100dvh;
  background-color: #fff8e7;
  font-family: "Lato", serif;
  font-weight: 500;
  font-style: italic;
  color: #4b3621;
}

#map {
  width: 100dvw;
  height: 80dvh;
  position: absolute;
  bottom: 0;
}
/*
.hours-container {
  padding: 20px;
  width: 100dvw;
  height: 20dvh;
  display: flex;
  justify-content: space-around;
}
.btn-my-location {
  height: 32px;
  padding: 8px 15px;
  background-color: #4b3621;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
}

.city-input {
  padding: 10px;
  font-size: 1.2rem;
  border: 2px solid #4b3621;
  border-radius: 4px;
  width: 80%;
  max-width: 400px;
  max-height: 32px;
  margin-bottom: 15px;
  background-color: #fbf6eb;
}
