body {
  margin: 0;
  box-sizing: border-box;
  height: 100dvh;
  width: 100dvw;
  background-color: #fff8e7;
  font-family: "Lato", serif;
  font-weight: 500;
  font-style: italic;
  color: #4b3621;
}
main {
  height: 100dvh;
  width: 100dvw;
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 20dvh;
}

.city-input {
  height: 2rem;
  width: 30%;
  padding: 10px;
  font-size: 1.2rem;
  border: 2px solid #4b3621;
  border-radius: 6px;
  background-color: #fbf6eb;
}

.btn-my-location {
  height: 2rem;
  width: 15%;
  background-color: #4b3621;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 1.2rem;
  cursor: pointer;
}

#map {
  width: 100dvw;
  height: 80dvh;
  position: absolute;
  bottom: 0;
}

/* .popupStyle { */
.leaflet-popup-content-wrapper {
  background-color: aqua;
  width: auto;
}
.leaflet-popup-tip {
  background-color: aqua;
}
.leaflet-popup-content p {
  margin: 0;
  padding-bottom: 4px;
  font-family: "Lato", serif;
  font-size: 16px;
}
.leaflet-popup-content input {
  margin: 0;
  font-family: "Lato", serif;
  font-size: 14px;
}

/*
.hours-container {
  padding: 20px;
  width: 100dvw;
  height: 20dvh;
  display: flex;
  justify-content: space-around;
}
  */
